body {
  background-image: url("concrete.png");
}
#content-wrapper {
  background-image: url("200.gif");
}
#personalbody {
  background-image: url("bg.jpg");
}
#logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  margin: 40px;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
header {
  border-bottom-style: solid;
  border-color: rgb(255, 0, 204);
  border-width: 5px;
  padding: 10px;
  margin: -10px;
  background-color: rgba(0, 0, 0, 0.75);
}
footer {
  border-top-style: solid;
  border-color: rgb(255, 0, 204);
  border-width: 5px;
  padding: 75px;
  margin: -10px;
  background-color: rgba(0, 0, 0, 0.75);
}
address {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
  font-family: "EB Garamond";
  font-size: 60px;
  color: #ffd3ff;
}
h2 {
  text-align: center;
  font-family: "EB Garamond";
  font-size: 30px;
  color: #ffd3ff;
}
h3 {
  text-align: center;
  font-family: "EB Garamond";
  font-size: 20px;
  color: #ffd3ff;
}
h4 {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgb(255, 0, 204);
  border-width: 2px;
  padding: 10px;
  margin: -10px;
  background-color: rgba(0, 0, 0, 0.75);
}
p {
  padding: 50px;
  margin: -5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "EB Garamond";
  font-size: 35px;
  color: #ff5bf1;
}
li,
a {
  font-family: "EB Garamond";
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
a:hover {
  color: rgb(100, 100, 100);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
